﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca TI - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Static/css/bootstrap-material-design.css" />
    <link rel="stylesheet" href="~/Static/css/ripples.css" />
    <style>
        .LocalEnvironment {
            display: block;
            border: 1px solid green;
            background: #f0f0f0;
            color: #009688;
            font-weight: bold;
            font-size: 12px;
            position: fixed;
            right: 0;
            left: 0;
            top: 0;
            z-index: 2000;
            text-align: center;
            display: none;
        }
    </style>
</head>
<body>
    @if (Request.IsLocal)
    {
        <div class="LocalEnvironment">LOCALHOST</div>
    }
    @Html.Partial("_Menu")
    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Biblioteca TI</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Static/js/material.js"></script>
    <script src="~/Static/js/ripples.js"></script>
    <script type="text/javascript">
        $.material.init()
    </script>
    @RenderSection("scripts", required: false)

</body>
</html>
