﻿@model TI_Biblioteca.Models.Repositorio
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add</h2>


<div>

    @using (Html.BeginForm("AddRepo", "Repositorio", null, FormMethod.Post, new { @Id = "form-AddRepo" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group form-group-lg label-floating">
            <label for="titulo" class="control-label">Título</label>
            @Html.EditorFor(model => Model.Titulo, "model", new { htmlAttributes = new { @class = "form-control" } })
            <span class="help-block">Ajuda a identificar o código</span>
        </div>

        <div class="form-group form-group-lg label-floating">
            <label for="descricao" class="control-label">Descrição/Código</label>
            @Html.TextArea("Descricao", null, 10, 20, new { @class = "form-control" })
        </div>
        
        <button type="submit" class="btn btn-primary btn-raised">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            Adicionar
        </button>


    }

</div>