﻿<!-- Informar que o retorno é um dado com o tipo DataTable -->
@model System.Data.DataTable
<!-- Para Utilizar DataColumn e DataRow -->
@using System.Data
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Repositórios</h2>
<div class="table-btn-actions">
    <div class="btn-group">
        <a href="~/Repositorio/Add/" class="btn btn-primary btn-raised">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            Adicionar
        </a>
    </div>
</div>
<div>
    @if (Model != null)
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Título</th>
                    <th>Descrição</th>
                </tr>
            </thead>
            <tbody>
                @foreach (DataRow row in Model.Rows)
                {
                    <tr>
                        <td>@row["ID"]</td>
                        <td>@Html.ActionLink(
                                row["Titulo"].ToString(),
                                "Details",
                                "Repositorio",
                                new { Id = row["ID"] },
                                null
                           )
                        </td>
                        <td>@row["Descricao"]</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>